.gradient {
  height: 150%;
  width: 100%;

  &.defender {
    @extend .gradient;
    background:
      linear-gradient(
        0deg,
        rgba(var(--defender-color-rgb), 0.25) 0%,
        rgba(var(--defender-color-rgb), 0) 100%
      ),
      rgba(25, 25, 25, 0);
  }

  &.attacker {
    @extend .gradient;
    background:
      linear-gradient(
        0deg,
        rgba(var(--attacker-color-rgb), 0.35) 0%,
        rgba(var(--attacker-color-rgb), 0) 100%
      ),
      rgba(25, 25, 25, 0);
  }
}
