@for (player of match?.teams[0].players; track $index) {
  @if (streams.has(player.fullName)) {
    <div
      class="border-[#FFFFFF80] border-1 box-border h-48 aspect-video overflow-clip absolute bg-[#000000]"
      [class.hidden]="!player.isObserved"
    >
      <div class="h-48 w-full">
        <iframe
          allow="camera;fullscreen;autoplay;"
          [src]="streams.get(player.fullName)"
          class="w-full aspect-video"
        ></iframe>
      </div>
      <div class="h-7 w-full absolute bottom-1 left-0 flex">
        <div
          class="absolute gradient"
          [class]="match.teams[0].isAttacking ? 'attacker' : 'defender'"
        ></div>
        <div
          class="w-full max-w-85 text-left px-4 text-[17px] text-white text-shadow-xl font-bold font-[Montserrat] overflow-clip z-1"
        >
          {{ player.fullName | nameOverride: player.name : getOverrideNames() }}
        </div>
        <div class="w-full text-right px-4 text-[17px] text-white font-bold font-[Montserrat]">
          {{ player.kills }} / {{ player.deaths }} / {{ player.assists }}
        </div>
      </div>
    </div>
  }
}

@for (player of match?.teams[1].players; track $index) {
  @if (streams.has(player.fullName)) {
    <div
      class="border-[#FFFFFF80] border-1 box-border h-48 aspect-video overflow-clip absolute bg-[#000000]"
      [class.hidden]="!player.isObserved"
    >
      <div class="h-48 w-full">
        <iframe
          allow="camera;fullscreen;autoplay;"
          [src]="streams.get(player.fullName)"
          class="w-full aspect-video"
        ></iframe>
      </div>
      <div class="h-7 w-full absolute bottom-1 left-0 flex">
        <div
          class="absolute gradient"
          [class]="match.teams[1].isAttacking ? 'attacker' : 'defender'"
        ></div>
        <div
          class="w-full max-w-85 text-left px-4 text-[17px] text-white text-shadow-xl font-bold font-[Montserrat] overflow-clip z-1"
        >
          {{ player.fullName | nameOverride: player.name : getOverrideNames() }}
        </div>
        <div class="w-full text-right px-4 text-[17px] text-white font-bold font-[Montserrat]">
          {{ player.kills }} / {{ player.deaths }} / {{ player.assists }}
        </div>
      </div>
    </div>
  }
}
