.ability-container {
  height: 20px;
  display: inline-flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ability-icon {
  width: 20px;

  &.available {
    @extend .ability-icon;
    filter: brightness(1);
  }

  &.unavailable {
    @extend .ability-icon;
    filter: brightness(0.4);
  }
}